{% load staticfiles %}

<script type="text/javascript" defer src="{% static 'js/dist/dx.chartjs.js' %}"></script>
<script type="text/javascript" defer src="{% static 'js/dashboard/chart-pie.js' %}"></script>
<script type="text/javascript" defer src="{% static 'js/dashboard/chart.js' %}"></script>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header text-muted">
            <span>
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                Сводные данные
            </span>
        </h3>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-group fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ view.employees.count }}</div>
                        <div>Рабочих мест</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'enterprise:detail' pk=3 %}">
                <div class="panel-footer">
                    <span class="pull-left">Посмотреть детализацию</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-desktop fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ view.equipments.count }}</div>
                        <div>Ед. оборудования</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'equipment:index' %}">
                <div class="panel-footer">
                    <span class="pull-left">Посмотреть детализацию</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-stack-overflow fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ view.equipments.not_used }}</div>
                        <div>Не используется</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'equipment:unused' %}">
                <div class="panel-footer">
                    <span class="pull-left">Посмотреть детализацию</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ view.equipments.repaired }}</div>
                        <div>В ремонте!</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'equipment:in_repair' %}">
                <div class="panel-footer">
                    <span class="pull-left">Посмотреть детализацию</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-5 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-pie-chart fa-fw"></i>
                Использование оборудования:
            </div>
            <div class="panel-body">
                <div id="chartContainer" style="width:100%;height: 420px"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-area-chart fa-fw"></i>
                Распределение оборудования(типы):
            </div>
            <div class="panel-body">
                <div id="chartContainerTypes" style="width:100%;height: 400px"></div>
                <div id="catInfo">
                    <br /><span id="typeName"></span>
                    <span id="typeNumber"></span>
                </div>
            </div>
        </div>
    </div>
</div>