{% if request.user.is_authenticated %}
    <li>
        <a href="#">
            <i class="text-primary">Вы вошли как:<br>
            <b>{{ request.user.get_short_name }}</b></i><br>
            <i class="text-muted">({{ request.user.organisation.short_title }})</i>
        </a>
    </li>
    <li class="divider"></li>
    <li><a href="#">
        <i class="fa fa-gear fa-fw"></i>
        Настройки</a>
    </li>
    <li>
        <a href="{% url 'logout' %}">
            <i class="fa fa-sign-out fa-fw"></i>
            Выйти
        </a>
    </li>
{% else %}
    <li>
        <a href="#">
            <i class="text-warning">Вы находитесь в режиме просмотра. <br> Авторизуйтесь, перейдя по ссылке ниже, <br> для активации своих привилегий.</i>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="{% url 'login' %}">
            <i class="fa fa-key fa-fw"></i>
            Авторизоваться
        </a>
    </li>
{% endif %}