{% for item in menu %}
    <li>
        <a href="{% url 'employees' pk=item.pk %}">
            <span class="fa fa-institution"> </span>
            {{ item.title }}
            <span class="fa arrow"></span>
        </a>
        {% if item.has_subordinates %}
            <ul class="nav nav-third-level">
                {% for subordinate in item.subordinates.all %}
                    <li>
                        <a href="{% url 'employees' pk=subordinate.pk %}">
                            <span class="fa fa-code-fork"> </span>
                            {{ subordinate.title }}
                        </a>
                        {% if subordinate.has_subordinates %}
                            <ul class="nav nav-fourth-level">
                                {% for sub in subordinate.subordinates.all %}
                                    <li>
                                        <a href="{% url 'employees' pk=sub.pk %}">
                                            <span class="fa fa-building-o"> </span>
                                            {{ sub.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}