{% extends 'layouts/application.html' %}
{% load equipment_types %}

{% block title %}{{ view.page_title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-primary">
                <i class="fa fa-hdd-o fa-fw"></i>
                Оборудование на баллансе
            </h1>
        </div>
        {% include 'equipment/partials/_search.html' %}
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                        <i class="fa fa-tasks fa-fw"></i> Список инвентаризированной техники
                    </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                        <ul class="equipments">
                            {% for equipment in equipments %}
                                {% include 'equipment/partials/_list.html' %}
                            {% empty %}
                                {% include 'equipment/partials/_empty.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <!-- Pagination -->
            {% include 'equipment/partials/_paginate.html' %}
            <!-- End Pagination -->

        </div>
        <!-- /.col-lg-8 -->

        <!-- Equipments types widget -->
        {% equipment_types_widget %}
        <!-- End equipments types widget -->

    </div>
{% endblock %}