{% extends 'layouts/application.html' %}

{% block title %}{{ view.page_title }} ({{ equipments_location_count }}){% endblock %}

{% block content %}
    <div class="row">
        <h3 class="page-header text-muted">
            <i class="fa fa-location-arrow fa-fw"></i>
            {{ view.page_title }} <span class="badge">{{ equipments_location_count }}</span>
        </h3>
        <!-- equipment type list table -->
        {% include 'equipment/partials/_location_list.html' %}
        <!-- \equipment type list table -->
    </div>
{% endblock %}