{% extends 'layouts/application.html' %}

{% block title %}{{ view.page.title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h3 class="page-header">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            {{ organisation.title }}
        </h3>

        <p class="text-muted">
            Всего оборудованных рабочих мест(сотрудников):
            <span class="badge">{{ view.employees.count }}</span>
        </p>

        {% include 'employee/partials/_list.html' %}
    </div>
{% endblock %}