<div class="panel panel-info">
    <div class="panel-heading">
        <i class="fa fa-columns fa-fw"></i>
        Бланк инвентаризации сотрудника:
        <b>{{ employee.short_full_name }}</b>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2 text-muted">
                Организация:
            </div>
            <div class="col-lg-10 text-primary">
                <b>{{ employee.organisation.title }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-muted">
                Отдел:
            </div>
            <div class="col-lg-10 text-primary">
                <b>{{ employee.department.title|default:'-----' }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-muted">
                Должность:
            </div>
            <div class="col-lg-10 text-primary">
                <b>{{ employee.get_position_display }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-muted">
                Сотрудник:
            </div>
            <div class="col-lg-10 text-primary">
                <b>{{ employee.full_name }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-muted">
                Расположение:
            </div>
            <div class="col-lg-10 text-primary">
                <b>{{ employee.location.emplacement }}</b>
            </div>
        </div>

        <h4 class="text-center text-muted page-header top-20">Список оборудования закрепленного за сотрудником:</h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="success">#</th>
                    <th class="text-primary"><b>Инв. номер</b></th>
                    <th class="warning">Тип</th>
                    <th>Модель</th>
                    <th>Серийный номер</th>
                    <th>Дата ревизии</th>
                    <th>Стикер</th>
                    <th>Примечание</th>
                </tr>
            </thead>
            <tbody>

            {% for equipment in view.equipments.selection %}
                {% include 'employee/partials/_item_equipment.html' %}
            {% empty %}
                <tr>
                    <td colspan="7" class="text-danger text-center"><b>Нет данных!</b></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a href="?pdf=True" class="btn btn-danger pull-right"><i class="fa fa-file-pdf-o"> Бланк учета(PDF)</i></a>
    </div>
    <div class="panel-footer">
        Всего закрепленно за сотрудником учётных единиц: <span class="badge">{{ view.equipments.count }}</span>
    </div>
</div>