<!-- Equipment search form -->
<div id="search_form">
   <form method="GET" action="" class="form-inline">
       <fieldset>
           <legend><i class="fa fa-filter"></i> Фильтры:</legend>
           {% for field in filter_form %}
               <div class="form-group">
                   {{ field }}
               </div>
           {% endfor %}
           <input type="submit" class="btn btn-success" value="Фильтр">
           <a href="{% url 'equipments' %}" class="btn btn-default">Очистить фильтр</a>
       </fieldset>
   </form>
</div>
<br>
<!-- \ End equipment search form -->
