{% extends 'layouts/application.html' %}
{% load staticfiles %}

{% block title %}{{ view.meta.title }}{% endblock %}

{% block content %}

    <script type="text/javascript" defer src="{% static 'js/search/main.js' %}"></script>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <i class="fa fa-search fa-fw"></i>
                {{ view.meta.title|safe }}
            </h3>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Модель</th>
                        <th>Статус</th>
                        <th>Инвентарный №</th>
                        <th>Серийный №</th>
                        <th>Ответственный</th>
                        <th>Месторасположение</th>
                        <th>Дата ревизии</th>
                    </tr>
                </thead>
                <tbody id="search">
                    {% for item in equipments %}
                        <tr>
                            <td>
                                <a href="{% url 'equipment:type' item.type_id %}">{{ item.type }}</a>
                            </td>
                            <td><b><a href="{% url 'equipment:detail' item.model %}">{{ item.model }}</a></b></td>
                            <td>
                                {% if item.is_used %}
                                    <span class="text-success">
                                        <i class="fa fa-check-circle fa-fw"></i>
                                    </span>
                                {% else %}
                                    <span class="text-danger">
                                        <i class="fa fa-close fa-fw"></i>
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {{ item.inventory_number|default_if_none:'<span class="label label-danger">Не назначен</span>' }}
                            </td>
                            <td class="text-warning"><b>{{ item.serial_number }}</b></td>
                            <td>
                                {% if item.responsible_id %}
                                    <a href="{% url 'enterprise:employee' item.responsible_id %}">
                                       {{ item.responsible }}
                                    </a>
                                {% else %}
                                    <span class="label label-warning">Не назначен</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.responsible.location_id %}
                                    <a href="{% url 'equipment:emplacement' item.responsible.location_id %}">
                                        {{ item.responsible.location }}
                                    </a>
                                {% else %}
                                    <span class="label label-warning">Не установленно</span>
                                {% endif %}
                            </td>
                            <td>{{ item.revised_at }}</td>
                        </tr>
                    {% empty %}
                        <tr class="text-center text-primary">
                            <td colspan="9">Данные по этому виду запроса отсутствуют!</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- /.table -->
            <p class="text-muted">
                Всего найденно: <span class="badge">{{ equipments|length }}</span>
            </p>
        </div>
    </div>
{% endblock %}