{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></span>
            </li>
        {% endif %}
        <li class="">
            <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.</span>
        </li>
        {% if page_obj.has_next %}
            <li>
                <span><a href="?page={{ page_obj.next_page_number }}">Следующая</a></span>
            </li>
        {% endif %}
    </ul>
{% endif %}