<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-user fa-fw"></i> Список рабочих мест сотрудников
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Действия
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Another action</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th># id</th>
                                <th>Фио</th>
                                <th>Должность</th>
                                <th>Подразделение</th>
                                <th>Состояние</th>
                                <th>Расположение</th>
                                <th class="warning">Кол-во оборудования</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in view.employees %}
                                <tr>
                                    <td>{{ employee.id }}</td>
                                    <td><a href="{% url 'employee' employee.id %}">{{ employee.short_full_name }}</a></td>
                                    <td>{{ employee.get_position_display }}</td>
                                    <td>{{ employee.department.title|default:'-----' }}</td>
                                    <td>{{ employee.get_state_display }}</td>
                                    <td>{{ employee.location.emplacement }}</td>
                                    <td class="warning">{{ employee.equipment_set.count }}</td>
                                </tr>
                            {% empty %}
                                <td colspan="7">
                                    <p class="text-center text-danger">Данные будут доступны в стабильном релизе!</p>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->