<table class="table table-hover table-striped small">
    <thead>
        <tr>
            <th>Тип оборудования:</th>
            <th class="danger text-center">Количество:</th>
        </tr>
    </thead>
    <tbody>
        {% for item in selection %}
            <tr class="types-annotation">
                <td>
                    <b class="type-name">{{ item.value }}</b>
                </td>
                <td class="danger text-center">
                    <b class="type-quantity">{{ item.types_count }}</b>
                </td>
            </tr>
        {% empty %}
            <p class="text-danger">Нет данных!</p>
        {% endfor %}
    </tbody>
</table>